#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10vh;
    width: 31vh;
    background-color: hsl(234, 85%, 45%);
    border-radius: 1rem;
}