body {
    font-family: 'Hanken Grotesk';
    background-color: whitesmoke;
}

h6 {
    font-size: 1em;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

#resultsZone {
    display: flex;
    position: absolute;
    /* Esto es lo que centra el div */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Esto es lo que centra el div */
    justify-content: center;
    align-self: center;
    background: rgb(175, 0, 175);
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    height: 22em;
    width: 17em;
    padding: 10px;
    border-radius: 1em;
    left: 500px;
    z-index: -1;
}

#yourResult {
    position: absolute;
    display: flex;
    min-width: max-content;
    justify-content: center;
    align-self: flex-start;
    color: whitesmoke;
}

#resultsCircle {
    position: absolute;
    justify-self: center;
    height: 10em;
    width: 10em;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin-top: 5em;
    border-radius: 50%;
    display: inline-block;
}

#resultNumbers1 {
    display: flex;
    position: relative;
    color: whitesmoke;
    margin-top: 1em;
    justify-content: center;
    align-self: flex-start;
    width: min-content;
    font-weight: 800;
    font-size: 2em;
    transform: translate(2em);

}

#resultNumbers2 {
    display: flex;
    position: relative;
    color: hsl(0, 0%, 100%);
    margin-top: 3em;
    justify-content: center;
    text-align: center;
    align-self: flex-start;
    width: max-content;
    bottom: 3em;
    font-size: 1em;
    transform: translate(3.625em);
    opacity: 0.5;
}

#greatMessage {
    display: flex;
    position: absolute;
    color: hsl(0, 0%, 100%);
    margin-top: 1em;
    justify-content: center;
    width: min-content;
    font-weight: 800;
    font-size: 1.5em;
    transform: translateX(-50%);
    top: 62.5%;
}

#whatScoreMsg {
    display: flex;
    position: absolute;
    height: min-content;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 1.5em;
    margin: 0 1em;
    width: auto;
    color: hsl(0, 0%, 100%);
}

#Summary {
    display: flex;
    position: absolute;
    background-color: white;
    width: 20em;
    height: 36%;
    transform: translate(39em, 19em);
    z-index: -2;
}

#summaryText {
    display: flex;
    position: absolute;
    /*
    height: 10em;
    width: 100%;
    */
    justify-self: flex-end;
    padding-left: 3em;
    font-size: 1.5em;
    align-self: flex-start;
}


#summaryIconReaction {
    /*
    display: flex;
    position: absolute;
    z-index: 1;
    height: 1.5em;
    
    background-color: rgb(0,0,0,0.7);
    
    transform: translate(5.5em, 6.5em);
    */

    display: flex;
    position: absolute;
    background-color: red;
    width: 80%;
    justify-self: center;
}

